{% extends 'board_ad/base.html' %}

{% block body %}
    {# from 태그는 <form action="{% url 'board_ad:new_posting' %}" 에서 url이 없어도 제자리에서 뛰어서 POST 요청으로 받아서 views에서 처리해준다  #}
    <form method="POST">
    {% csrf_token %}
    {# 라벨은 사용자가 입력한 것에만 씌워주면 된다 #}
        <div>
            <label for="input_title">Title:</label>
            <input name="title" id="input_title" type="text">
        </div>
        <div>
             <label for="input_content">Content:</label>
            <textarea name="content" id="input_content" cols="30" rows="10"></textarea>
        </div>
        <div>
             <button type="submit">CREATE!</button>
        </div>
    </form>
{% endblock %}