{% extends 'weather/base.html' %}

{% block body %}
<form action="/weather/" method="POST">
    {% csrf_token %}
    <input type="text" name="input_location"/>
    <input type="submit" value="Submit"/>
</form>
<hr />
<table>
    <tr>
        <th>Location</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Temperature</th>
        <th>Summary</th>
        <th>Search Time</th>
        <th>삭제</th>
        <th>수정</th>
    </tr>
    {% for weather in weathers %}
    <tr>
        <td>{{ weather.location }}</td>
        <td>{{ weather.lat }}</td>
        <td>{{ weather.lon }}</td>
        <td>{{ weather.temp }}</td>
        <td>{{ weather.summary }}</td>
        <td>{{ weather.search_time }}</td>
        <td>
            <form action="/weather/delete/{{weather.id}}/" method="POST">
                {% csrf_token %}
                <input type="submit" value="삭제">
            </form>
        </td>
        <td>
            <a href="/weather/edit/{{weather.id}}/">
                <button>수정</button>
            </a>
        </td>
    </tr>

    {% endfor %}
</table>
{% endblock%}